table {
  margin: 1rem auto;
  border-collapse: collapse;

  caption {
    font-weight: 700;
    border: 1px solid;
    border-bottom: none;

    padding: .15rem .5rem;
    background-color: rgb(246, 246, 197);
  }

  th {
    background-color: rgb(194, 193, 193);
    text-align: center;
  }

  th, td {
    border: 1px solid black;
    padding: .15rem .5rem
  }
  button {
    border-radius: 5%;
    font-weight: 500;
    &.btn-warning {
      border: 1px solid red;
      background-color: rgb(254, 48, 48);
      color: white;

      &:hover {
        color: rgb(254, 48, 48);
        background-color: rgb(254, 171, 171);
        border: 1px solid red;
      }
    }
  }
}
