<h2>Count Islands</h2>

<form id="boardForm" [formGroup]="boardForm" >
  Rows: &nbsp;
  <select formControlName="rows" >
    <ng-container *ngFor="let num of createRange(10); let i=index">
      <option value="{{i+1}}">{{i+1}}</option>
    </ng-container>
  </select>
  &nbsp; &nbsp;
  Columns: &nbsp;
  <select formControlName="columns" >
    <ng-container *ngFor="let num of createRange(10); let i=index">
      <option value="{{i+1}}">{{i+1}}</option>
    </ng-container>
  </select>
  &nbsp; &nbsp; &nbsp;
  <button (click)="createNewBoard()" >Create Board</button>
</form>

<table id="islands-table">
  <ng-container *ngIf="board.length">
    <tr *ngFor="let row of board; let i=index">
      <ng-container *ngFor="let cell of row; let j=index">
        <td [ngClass]="[cell === 1 ? 'land' : 'water', visited[i+','+j] ? 'visited' : 'unvisited']" (click)="updateBoard(i, j, cell)">{{cell}}</td>
      </ng-container>
    </tr>
  </ng-container>
</table>
<div class="button-solve">
  <button (click)="solve()">Solve</button>
  <button (click)="resetBoard()">Reset</button>
</div>
<p class="output">{{output !== undefined ? 'Answer: ' + output : 'Click solve to see output'}}</p>
